/*
Here I'm going to implement the different styles for the app so that they can be changed by the user
*/

/* original theme */
body .original-theme {
    
    background-color: chocolate;
    font-size: 3.5vw;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme {
    background-color:  blanchedalmond;
}

.original-theme .collapsible-body {
    background-color: blanchedalmond;
    -webkit-text-fill-color: rgb(9, 9, 14);
}
.original-theme .collapsible-header {
    background-color: blanchedalmond;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .collapsible-accordion .collapsible-header {
    background-color: chocolate;
    font-size: 3.5vw;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .collection {
    background-color: blanchedalmond;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .collection .collection-item {
    background-color: blanchedalmond;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme a {
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .collapsible-body a {
    font-weight: bold;
    -webkit-text-fill-color: rgb(63, 63, 128);
}

.original-theme h5 a {
    font-weight: bold;
    -webkit-text-fill-color: rgb(63, 63, 128);
}

.original-theme .collapsible-accordion .collapsible-body a {
    background-color: chocolate;
    font-weight: bold;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme button {
    background-color: rgb(9, 9, 14);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.original-theme button:hover {
    background-color: chocolate;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.original-theme .collapsible-body p {
    -webkit-text-fill-color: rgb(80, 79, 79);
}

.original-theme .brand-logo {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .sidenav-trigger {
    color: black;    
}

.original-theme .divider {
    background-color: rgb(0, 0, 0);
}

.original-theme .nav-bar {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    background-color: chocolate;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .nav-bar .nav-wrapper {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: medium;
    background-color: chocolate;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .sidenav {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 3.5vw;
    background-color: chocolate;
    -webkit-text-fill-color: rgb(9, 9, 14);
}

.original-theme .sidebar {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 3.5vw;
    background-color: chocolate;
    -webkit-text-fill-color: rgb(9, 9, 14);
}



/*----------------------Night theme------------------------------*/
/*
body .night-theme {

}
.night-theme {
    background-color: rgb(56, 55, 55);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .sidenav{
    background-color: rgb(56, 55, 55);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .divider {
    background-color: blanchedalmond;
}*/

body .night-theme {
    
    background-color: rgb(56, 56, 54);
    -webkit-text-fill-color: blanchedalmond;
    
}

.night-theme {
    background-color:  rgb(56, 56, 54);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .collapsible-body {
    background-color: rgb(56, 56, 54);
    -webkit-text-fill-color: blanchedalmond;
}
.night-theme .collapsible-header {
    background-color: rgb(56, 56, 54);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .collapsible-accordion .collapsible-header {
    background-color: rgb(9, 9, 14);
    font-size: 3.5vw;
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .collection {
    background-color: rgb(56, 56, 54);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .collection .collection-item {
    background-color: rgb(56, 56, 54);
    -webkit-text-fill-color: blanchedalmond;
    
}

.night-theme a {
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .collapsible-body a {
    font-weight: bold;
    -webkit-text-fill-color: rgb(87, 157, 185);
}

.night-theme h5 a {
    font-weight: bold;
    -webkit-text-fill-color: rgb(87, 157, 185);
}


.night-theme .collapsible-accordion .collapsible-body a {
    font-weight: bold;
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme button {
    background-color: rgb(9, 9, 14);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme button:hover {
    background-color: rgb(87, 157, 185);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .collapsible-body p {
    -webkit-text-fill-color: rgb(145, 144, 144);
}

.night-theme .brand-logo {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .sidenav-trigger {
    color: blanchedalmond;    
}
.night-theme .sidenav-trigger i{
    -webkit-text-fill-color: blanchedalmond;    
}

.night-theme .divider {
    background-color: blanchedalmond;
}

.night-theme .nav-bar {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    background-color: rgb(9, 9, 14);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .nav-bar .nav-wrapper {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: medium;
    background-color: rgb(9, 9, 14);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .sidenav {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 3.5vw;
    background-color: rgb(9, 9, 14);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .sidebar {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 3.5vw;
    background-color: rgb(9, 9, 14);
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .input-field {
    color: white;
    -webkit-text-fill-color: blanchedalmond;
}

.night-theme .input-field input {
    color: white;
    -webkit-text-fill-color: blanchedalmond;
    border-bottom: 1px solid white;
}

